@import '../Shared/variables.scss';
@import '../Shared/typography.scss';

.todo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &-form {
    width: inherit;

    &__input {
      width: 500px;
      padding: 8px 12px;
      font-family: $font-text;
      outline: none;
    }
  }

  &-list {
    margin-top: 32px;

    &__item {
      padding: 8px;
      margin-bottom: 8px;
    }
  }
}
