@import '../Shared/variables.scss';
@import '../Shared/typography.scss';

.counter {
  &__button {
    border: 1px solid color(border-color);
    border-radius: 2px;
    background: color(white);
    font-size: 32px;
    padding: 8px 16px;
    color: color(font-color);
    outline: none;
    box-shadow: 1px 1px 1px color(border-color);
  }
}
