@import "../Shared/variables.scss";
@import "../Shared/typography.scss";

.dashboard {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: calc(100vh - 100px);

  .content {
    display: flex;
    justify-content: center;
    align-items: center;

    &__logo {
      display: flex;
      justify-content: center;

    }

    &__text {
      font-size: 48px;
    }
  }
}